.background__blog {
    background: $color-gray-light;
    height: 116rem;
    background-position: center;
    background-size: 100%;
}
.grid-container {
    max-width: 85rem;
    margin: auto;
}
.blog {
    display: grid;
    margin-top: 2rem;

    &__main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 2.6rem 1rem 2.6rem; 
        div {
            margin-top: 3rem;
        }
    }
    &__main--top {
        background-color: $color-main;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;
        padding: 0 12rem 1rem 2.6rem;
    }
    &__container--content {
        grid-column: 1; 
    }
    &__container--content-text {
        width: 86%;
        & a {
            text-decoration: underline 0.15em rgba(255, 255, 255, 0);
            text-underline-offset: 0.2rem;
            color: $color-secundary-light;
            white-space: nowrap; 
            transition: text-decoration 0.3s;
        } 
    }
    &__container--content-text p {
        text-align: justify;
        color: $color-dark;
        font-size: 12pt;
    }
    &__container--content-topimg {
        width: 80%;
        transition: .2s;
        &:hover { 
            transform: scale(1.07);
            border: 2px solid $color-secundary;
        }
    }
    &__container--content-regimg {
        width: 22rem;
        transition: .3s;
        &:hover {
            transform: scale(0.9);
            border: 2px solid $color-main;
        }
    }
    &__button {
        background: $color-secundary;
        border: none;
        color: $color-gray-light;
        padding: 0.8rem 2.2rem;
        font-size: 14pt;
        font-weight: 100; 
        position: relative;
        text-decoration: none;
        transition: .2s transform ease-in-out;

        &:hover {
        color: $color-main-light;
        transform: scale(1.05);
        }
    }
}

.footer {
    width: 100%;
    height: 8rem;
    background-color: $color-gray-light;
    border-top: 3.5rem solid $color-main;
    text-align: center;
    border-radius: 0 0 20px 20px;
    & p {
        color: $color-dark;
    }
}
