a {
    text-decoration: none;
    display: inline;
    color: $color-main-dark;
}

.header {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &__icons--container{
        width: 100%;
        border-radius: 20px 20px 0 0;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        background: $color-main-light;
    } 
}
.icons {
    width: 200px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem; 
}
.icons a {
    font-size: 22pt;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 9rem;

    &__logo--container {
        margin-left: 5rem;
    }
    &__profile--link {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5rem;
    }
}
.logo {
    margin-top: 2rem;
    width: 4rem;
}
.nav__profile--link {
    text-decoration: underline;
    font-size: 16pt;
}
.nav__profile--link a {
    color: $color-main-light;
}