a {
    text-decoration: none;
    display: inline;
    color: $color-main-dark;
}

.header {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;

    &__icons--container{
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        background: $color-main-light;
    } 
}
.icons {
    width: 200px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem; 
}
.icons a {
    font-size: 22pt;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 42rem;
    background-image: url(/app/assets/img/astro-astro_web-02.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    &__logo--container {
        margin-left: 5rem;
    }
    &__profile--link {
        display: flex;
        margin-top: 3.5rem;
        justify-content: flex-end;
        margin-right: 5rem;
        text-decoration: underline;
        font-size: 16pt;
        color: $color-main-light;
    }
}
.logo {
    margin-top: 2rem;
    width: 12rem;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 34rem;
    justify-content: center;

    &__input {
        border: none;
        border-radius: 10px;
        height: 4rem;
        width: 12rem;
        background: $color-main;
        font-size: 18pt;
        font-weight: 600;
        color: $color-dark;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    
}
    