a {
    text-decoration: none;
    display: inline;
    color: $color-main-dark;
}

header {
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header__icons--container {
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background: $color-main-light;
}
.icons {
    font-weight: 600;
    width: 400px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 2rem;
}