
$color-main: #67d68d;
$color-main-light: #94e4b0;
$color-main-dark : #309e57; 

$color-secundary: #95266f;
$color-secundary-light: #c34e9a;
$color-secundary-dark: #660d47;

$color-gray-main: #888a89;
$color-gray-light: #d3dbd7;
$color-gray-dark: #5a5c5b;
$color-dark: #202020;